<table class="table table-primary table-bordered">
    <thead class="table-warning">
        <tr>
            <th scope="col">Identificador</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Perfil</th>
            <th scope="col">Administrador</th>
            <th scope="col">Eliminar</th>
            

        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <th scope="row">{{_id}}</th>
            <td>{{nombre}}</td>
            <td>{{apellido}}</td>
            <td>{{email}}</td>
            <td>{{perfil}}</td>
            <td>{{admin}}</td>             
            <td>
                <form action="/users/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-block btn-sm">
                        Eliminar
                    </button>
                </form>
            </td>            
        </tr>
        {{/each}}
    </tbody>
</table>
